body{
margin:0 auto;
background-color: #ebebeb;
}

header{
width: 550px;
padding: 20px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: space-around;
background-color: #ffffff;
margin-left: auto;
margin-right: auto;
margin-top: 40px;
border-radius: 6px;
-webkit-box-shadow: 1px 1px 1px 0px rgba(150,150,150,1);
-moz-box-shadow: 1px 1px 1px 0px rgba(150,150,150,1);
box-shadow: 1px 1px 1px 0px rgba(150,150,150,1);
}

header img{
  border: 5px solid #cccccc;
  border-radius: 50%;
  width: 120px;
}

header h1{
  font-family: "Montserrat",sans-serif;
  font-size: 30px;
  color: #df5555;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 0;

}
header h2{
  font-family: "Montserrat",sans-serif;
  font-size: 22px;
  color: #7d7d7d;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 0;
}

header p{
  font-family: "Open-Sans",sans-serif;
  font-size: 16px;
  color: #7d7d7d;
  font-weight: 300;
  text-align: justify;
  line-height: 1.6em;
  margin-top: 15px;
  margin-bottom: 0;
}

header a{
  font-family: "Open-Sans",sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  background-color: #df5555;
  padding: 12px;
  margin-top: 10px;
}
header strong{
  font-weight: 700;
}

.social-media{
  width: 550px;
  padding: 20px;
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(150,150,150,1);
-moz-box-shadow: 1px 1px 1px 0px rgba(150,150,150,1);
box-shadow: 1px 1px 1px 0px rgba(150,150,150,1);
}

.social-media ul{
  width: 550px;
  margin: 0;
  padding: 45px 50px 45px 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.social-media li{
  list-style: none;
}
.social-media a{
font-family: "Montserrat", sans-serif;
font-size: 22px;
font-weight: 400;
text-decoration: none;
color: #cccccc;
padding: 5px;
}
.social-media i{
  font-size: 22px;
  color: #cccccc;
  padding: 5px;
}

.btn-1{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-2{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn-3{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moovie{
  width: 550px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(150,150,150,1);
-moz-box-shadow: 1px 1px 1px 0px rgba(150,150,150,1);
box-shadow: 1px 1px 1px 0px rgba(150,150,150,1);
}

.moovie-column-left{
  width: 120px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
}

.moovie-column-right{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}
.moovie-column-right h3{
  align-self: center;
  margin-top:10px;
  margin-bottom: 10px;
}

.moovie span {
  background-color: #d4d4d4;
}

.moovie img{
  width: 100px;
}

.moovie h2{
  width: 570px;
  font-family: "Montserrat",sans-serif;
  font-size: 22px;
  color: #7d7d7d;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 30px;
  text-align: center;
}

.moovie h3{
  font-family: "Montserrat",sans-serif;
  font-size: 22px;
  color: #7d7d7d;
  font-weight:700;
}

.moovie p{
  font-family: "Open-Sans",sans-serif;
  font-size: 16px;
  color: #7d7d7d;
  font-weight: 300;
  text-align: justify;
  line-height: 1.6em;
  margin-bottom: 20px;
}
